@import "global";

@width-main-menu: 120px;

#header
{
  background: rgba(255, 255, 255, .12);
  padding: .5rem 1.5rem;
  margin-bottom: .5rem;
}
#content
{
  margin-left: @width-main-menu;
}
#main-menu
{
  position: absolute;
  width: @width-main-menu;
}

#main-menu  *
{
  //outline: 1px solid rgba(0, 255, 0, .5);
}
#main-menu ul
{
  list-style: none;
  margin: 0 20px;
  padding: 0;
  text-align: center;
  border:1px solid #FFF;
}
#main-menu a
{
  margin: 3px;
  padding: 8px 0;
  display: block;
  color: #999;
  transition:all .2s;
  border-radius: 0;
}
#main-menu a:hover, #main-menu a:focus
{
  border-radius: 4px;
  border:none;
  background: @primary-color-hover;
  color: @primary-color-negative;
}
.main-menu-icon
{
  font-size: 32px;
}
.main-menu-label
{
  display: block;
  font-size: 13px;
  line-height: 13px;
}

//--------------------------- Global clases
.block-white
{
  background: #FFF;
  border-radius: 3px;
  /* Rectangle 23: */
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.20);
}
.content
{
  padding: 1.5rem;
}
.header-logo
{
  width: 80px;
}