@font-weight: 300;
@font-color: #777;
@font-size: 13px;
@font-family: "Roboto Condensed", sans-serif;
@font-family-title: "Open Sans", Arial, sans-serif;

@primary-color: #F08322;
@primary-color-hover: #f46e16;
@primary-color-negative: #ffffff;
@secondary-color: #4294E4;
@secondary-color-hover: #2693FF;
@secondary-color-negative: #ffffff;

html {
  font-size: @font-size;
}

body {
  background: url("../img/bg_app.jpg") no-repeat center center;
  background-size: cover;
  font-family: @font-family;
  color: @font-color;
}
h1, h2, h3, h4, h5
{
  font-family: @font-family-title;
  color: @primary-color;
  font-weight: @font-weight;
}


a {
  color: @primary-color;
}

//reset sizes
label, p{
  color: @font-color;
  font-family: @font-family;
  font-size: 1rem;
}

//--------------------------- Foundation clases
input[type="text"],
input[type="password"],
input[type="date"], input[type="datetime"], input[type="datetime-local"],
input[type="month"], input[type="week"], input[type="email"],
input[type="number"], input[type="search"],
input[type="tel"], input[type="time"], input[type="url"], input[type="color"], textarea
{
  color: @font-color;
  font-family: @font-family;
  font-size: 1rem;
  border-radius: 2px;
  border:1px solid #E8E8E8;
  height: auto;
  line-height: 1.9rem;
  background: #FCFCFC;
  box-shadow: inset 0 1px 2px #f2f2f2;
  &:focus
  {
  	background: #FFF;
	box-shadow: 1px 1px 2px #e5e5e5;
	border-color: #66A5ED

  }
}
.button, button
{
  font-family: @font-family;
  border-radius: 200px;
  background: @primary-color;
  color: @primary-color-negative;
  text-transform: uppercase;
}
.button:disabled, button:disabled
{
  opacity: 0.6;
}
.button:hover, button:hover
{
  background: @primary-color-hover;
}